body {
    color: #fddaef;
    background-color: black;
    margin: auto;
    font-size: 26px;
    font-family: serif;
    text-align: center;
}

main {
    padding-top: 2%;
    max-width: 50vw;
    display: block;
    margin: auto;
    max-width: 50%;
}

a {
    color: #fddaef;
}

a:hover {
    /* font-style: italic; */
    color: white;
}

li {
    list-style-type: none;
}

a.heart-event {
    display: block;
    margin: 0.5em 0;
}

iframe.blog {
    width: 480px;
    height: 320px;
}

iframe.guestbook {
    width: 90vw;
    height: 2000px;
}

p {
    text-align: center;
    margin: 0.5em 0;
}

@media only screen and (max-width: 900px) {
    body {
        max-width: 90%;
    }

    iframe.blog {
        width: 80vw;
        height: 300px;
    }

    p {
        text-align: left;
    }

    a {
        text-align: left;
    }

    main {
        max-width: 90vw;
    }
}