body {
    color: #fddaef;
    background-color: black;
    max-width: 77%;
    margin: auto;
    font-size: 24px;
    font-family: serif;
    text-align: center;
}

main {
    padding: 5%;
}

a {
    color: #fddaef;
}

a:hover {
    font-style: italic;
}